{% extends "admin/base_login.html" %}

{% load i18n static%}

{% block content %}
<div class="middle-box text-center loginscreen animated fadeInDown" style="margin-top: -10%">
    <div>
        <div class="card" style="background-color:rgba(255,255,255,0.9) ; margin: -10%;">
            <div class="middle-box text-center loginscreen animated fadeInDown">
                <div class="mb-4 mt-4">
                    <img src="{% static 'img/logo.svg' %}" width="80%">
                </div>
                {% block content_password %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
                