{% extends "registration/base_password_change.html" %}
{% load crispy_forms_tags i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content_password %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="">
        {% crispy form%}
    <input class="btn btn-primary mb-2 mt-2"  type="submit" value="{% translate 'Reset my password' %}">
</fieldset>
</form>

{% endblock %}
