{% extends "base_auth.html" %}
{% load i18n %}

{% block banner_left_content %}
    <h1>Seja Bem-Vindo(a)!</h1>
    <p>Informe seus dados para acesso ao sistema</p>  
    <button type="submit" id="btnRegister"><i class="fa-solid fa-square-plus"></i>&nbsp;CADASTRE-SE</button><br>
{% endblock %}
    
{% block banner_right_content %}
    <div id="reset-done" class="text-center mx-4">
        <h2>Verifique seu e-mail para continuar</h2>
        <p class="my-5">Enviamos instruções sobre como redefinir sua senha para o e-mail que você utilizou para configurar sua conta.</p>
        <button class="btn w-75 mt-2">Voltar à tela de login</button>
    </div>

<style>
    #reset-done h2{
        color: white;
    }
</style>
{% endblock %}

