{% extends "base_login.html" %}
{% load crispy_forms_tags i18n static %}

{% block userlinks %}
  {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %} {% translate 'Change password' %} /
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">{% translate 'Log out' %}</button>
  </form>
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password change' %}
</div>
{% endblock %}

{% block auth_password %}

<form method="post">{% csrf_token %}

  <div>
    {% if form.errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}


    <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
    {%crispy form%}

    <div class="submit-row">
        <input class="btn btn-primary" type="submit" value="{% translate 'Change my password' %}" class="default">
   </div>

  </div>
</form>

{% endblock %}
