{% extends "base_login.html" %}
{% load crispy_forms_tags i18n static %}

<!-- {% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %} -->

{% block banner_left_content %}
<h1>Seja Bem-Vindo(a)!</h1>
<p>Informe seus dados para acesso ao sistema</p>  
<button type="submit" id="btnRegister"><i class="fa-solid fa-square-plus"></i>&nbsp;CADASTRE-SE</button><br>
{% endblock %}

{% block banner_right_content %}
<p class="mb-3">Digite o endereço de e-mail da conta que você não consegue acessar e enviaremos instruções para redefinir sua senha.</p>

<form method="post">{% csrf_token %}
<fieldset class="password-reset-email">
        {% crispy form%}
    <input id="btn-email" class="mb-3 mt-4" type="submit" value="Enviar" placeholder="E-mail">
</fieldset>
</form>

<style>
    .password-reset-email{
        border: none;
        font-size: 16px;
        color: white;
    }

    .password-reset-email label{
        display: none;
    }

    #e-mail{
        background-color: #410000;
        color: #FFFFFF;
    }

    #btn-email{
        width: 10em;
        height: 3em;
        background-color: #410000;
        color: #FFFFFF;
        border: none !important;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: 2px 2px 5px #000000;
        font-weight: 700;
    }
</style>

{% endblock %}
