{% load widget_tweaks crispy_forms_tags i18n static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria - Fogo na Brasa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <header id="admin-navbar">
        <button class="btn ml-5 font-weight-bold" style="background-color:rgba(0, 0, 0, 0.5);">CONFIGURAÇÕES</button>
        <button class="btn font-weight-bold">PEDIDOS</button>
    </header>
    <div class="d-flex justify-content-start">
        <div id="nav">
            <div class="text-center mb-4">
                <img src="{% static 'img/logo.png' %}" width="200px">
            </div>
            <p class="border-bottom text-center mb-5 p-1 font-weight-bold">CADASTROS</p>
            <ul class="list-group">
                <li><a><i class="fa-sharp fa-solid fa-pizza-slice p-2 m-1"></i>&nbsp;&nbsp;Pizzas</a></li>
                <li><a><i class="fa-solid fa-bacon p-2 m-1"></i>&nbsp;&nbsp;Sabores</a></li>
                <li><a href="{% url 'size_create' %}"><i class="fa-solid fa-ruler p-2 m-1"></i>&nbsp;&nbsp;Tamanhos</a></li>
                <li><a><i class="fa-solid fa-wine-glass p-2 m-1"></i>&nbsp;&nbsp;Produtos</a></li>
                <li><a><i class="fa-solid fa-user p-2 m-1"></i>&nbsp;&nbsp;Clientes</a></li>
            </ul>
            <div class="mt-5">
                <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Sair</a> 
            </div>
        </div>
        <div id="content" class="justify-content-end w-100 m-5 p-2">
           {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
<style>

body{
    background-color: #1E2127;
}

#admin-navbar{
    background: linear-gradient(90deg, rgba(0,0,0,1) -8%, rgba(80,2,2,1) 30%, rgba(65,0,0,1) 100%);
    width: 100%;
}

#admin-navbar button{
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height: 4em;
}

#nav{
    color: #FFFFFF;
    background-color: #161719;
    padding: 2% 2%;
    height: calc(100vh - 4em);
}

#nav ul{
    list-style: none;
}

#nav a{
    cursor: pointer;
}

#content{
    background-color: #FFFFFF;
}

</style>