{% extends 'admin_home.html' %}
{% load widget_tweaks crispy_forms_tags i18n static %}

{% block content %}
    {% block button_include %}{% endblock %}
    <table id="list-table" class="table table-bordered table-dark">
        <thead>
            <tr>
                {% for header in headers %}
                    <th class="table-header text-center">{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% block table_content %}{% endblock %}
        </tbody>
    </table>
{% endblock %}