{% extends 'admin_home.html' %}
{% load widget_tweaks crispy_forms_tags i18n static %}

{% block content %}
    <div id="button-group" class="text-right my-4">
        <button class="btn px-4 py-2"><span style="color: #70A401;"><i class="fa-solid fa-square-plus p-1"></i></span>&nbsp;Incluir</button>
    </div>
    <table id="list-table" class="table table-bordered">
        <thead>
            <tr>
                {% for header in headers %}
                    <th class="table-header text-center">{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% block table_content %}{% endblock %}
        </tbody>
    </table>
{% endblock %}