{% extends 'generic_list.html' %}
{% load widget_tweaks crispy_forms_tags i18n static %}

{% block button_include %}
    <div id="button-group" class="text-right my-4">
        <a href="{% url 'size_create' %}"><button class="btn px-4 py-2"><span style="color: #70A401;"><i class="fa-solid fa-square-plus p-1"></i></span>&nbsp;Incluir</button></a>
    </div>
{% endblock %}

{% block table_content %}
    {% for object in page_obj  %}
        <tr>
            <td>{{object.short_name}}</td>
            <td>{{object.description}}</td>
            <td>{{object.available|yesno:"Sim, Não" }}</td>
            <td class="text-center"><a href="{% url 'size_update' object.pk %}"><span style="color: #FF7A00; background-color: #FFFFFF; border-radius: 3px;"><i class="fa-solid fa-pen m-1"></i></span></a></td>
        </tr>
    {% endfor %}

{% endblock %}
